# ignore

*example*
*.nhr
*.nin
*.nog
*.nsd
*.nsi
*.nsq
*.gz
database
*database*

*.bam
*.bai
*.sam
*.sai

*.md5

*.fastq
*.fq

*.fa
*.fasta
*.bin
test*
Tumor_CL_pipeline/main.Rdata
Tumor_CL_pipeline/tumor_CL_my_cor.transit.csv
Tumor_CL_pipeline/tumor_CL_cor.transit.csv
